{% extends "admin/index.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></div>{% endblock %}

{% block object-tools-items %}

<p>YEAH BABY!!!</p>

{% endblock %}